html,body{
    height: 100%;
}

#wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

#version_tag{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    /* based on title size */
    font-size: 0.09em;
    line-height: 2.95em;
    margin-right: 1vw;
}

#logoPara{
    display:flex;
    font-size: var(--title-font-size);
    line-height: 0.9em;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    #logoPara {
        font-size: 6em;
        justify-content: center;
    }
}

#logoPara nobr{
    font-family: TransletterGX;
    font-variation-settings: 'vrot' 50;
    user-select: none;
    vertical-align: text-bottom;
    /* constant color for title (not animated) */
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-black));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logoPara nobr span{
    animation: charAnim-1 var(--logoAnimationSpeed) linear infinite;
    animation-delay: -2500ms;
}
#logoPara nobr span:nth-of-type(2){
    animation-name: charAnim-2;
    animation-delay: -2000ms;
}
#logoPara nobr span:nth-of-type(3){
    animation-name: charAnim-3;
    animation-delay: -1500ms;
}
#logoPara nobr span:nth-of-type(4){
    animation-name: charAnim-4;
    animation-delay: -1000ms;
}
#logoPara nobr span:nth-of-type(5){
    animation-name: charAnim-5;
    animation-delay: -500ms;
}
#logoPara nobr span:nth-of-type(6){
    animation-name: charAnim-6;
    animation-delay: 0ms;
}

@keyframes charAnim-1 {
    0%{font-variation-settings:     'vrot' 100;}
    45%{font-variation-settings:    'vrot' 700;}
    55%{font-variation-settings:    'vrot' 700;}
    90%{font-variation-settings:    'vrot' 100;}
    100%{font-variation-settings:   'vrot' 100;}
}
@keyframes charAnim-2 {
    0%{font-variation-settings:     'vrot' 200;}
    45%{font-variation-settings:    'vrot' 700;}
    55%{font-variation-settings:    'vrot' 700;}
    90%{font-variation-settings:    'vrot' 200;}
    100%{font-variation-settings:   'vrot' 200;}
}
@keyframes charAnim-3 {
    0%{font-variation-settings:  'vrot' 300; }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 300; }
    100%{font-variation-settings: 'vrot' 300;}
}
@keyframes charAnim-4 {
    0%{font-variation-settings:  'vrot' 400; }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 400; }
    100%{font-variation-settings:'vrot' 400;}
}
@keyframes charAnim-5 {
    0%{font-variation-settings: 'vrot' 500; }
    45%{font-variation-settings: 'vrot' 700;}
    55%{font-variation-settings: 'vrot' 700;}
    90%{font-variation-settings: 'vrot' 500;}
    100%{font-variation-settings:'vrot' 500;}
}
@keyframes charAnim-6 {
    0%{font-variation-settings: 'vrot' 600;  }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 600; }
    100%{font-variation-settings: 'vrot' 600;}
}
