.flex-container {
    display: flex;
    flex-direction: column;
    /* align-items: right; */
    font-family: TransletterGX;
    padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding);
    font-size: 1000%;
    line-height: 90%;
    font-variation-settings: "vrot" 200;
}
