.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--element-color);
    padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding);
    font-size: 16px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3%; 
}

#contact, #download, #bio, #logos {
    /* flex: 1; */
    text-align: right; /* Center the content within each div */
}

.inline-links a {
    display: inline;
    /* links style */
    color:var(--element-color);
    text-decoration-color: currentColor; /* Match underline color to text color */
    text-decoration: underline; /* Ensure the text is underlined */
}

.inline-links p {
    display: inline;
}

#contact{
    width: 70%;
}

.download-button {
    background-color: var(--gradient-blue);
    color:var(--element-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#bottom-row {
    height: 100px;
    opacity: 0.5;
}

#logos {
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    /* TODO solve this better */
    align-items: flex-start;
    width: 45%;
    /* padding-right: 3%; */
}

#logos a {
    margin: 0 10px; /* Adjust as needed for spacing between links */
}

#logos img {
    flex-shrink: 1;
    /* max-height: 50px;  */
    max-height: 40%;
    width: auto;
    /* padding-right: 15%; */
}

#bio {
    font-size: 12px;
    width: 52%; 
}

#bio a {
    display: inline;
    /* links style */
    color:var(--element-color);
    text-decoration: none; 
}

#bio p {
    display: inline;
}