:root{
    --vrot-letter-tester-title: 500;
    --vrot-letter-tester-text: 400;
}
html{
    overflow-y: hidden;
}

@media screen and (max-width: 768px) {
    html, body{
        height: 100%;
    }
     /* causes scroll issue */

    #wrapper{
        height: 100%;
    }

    #byBlock{
        height: 100%;
    }
}


#wrapper{
    font-size: var(--title-font-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    font-family: TransletterGX;
    /* TODO look into this */
    /* height: 100vh; */
    /* height: 100%; */
    width: 100%;
    /* TEMP */
    /* background-color: transparent; */
    /* background-color: black; */
}

#infotext{
    width:100%;
    font-size: 0.09em;
    color: var(--background-color);
}

b{  
    font-variation-settings: var(--max_vrot);
    font-weight: 900;
}

p{
    width: 70%;
}

@media screen and (max-width: 768px) {
    #infotext{
        font-size: 0.2em;
        line-height: 1.7em;
    }
    p{
        width: 90%;
    }
}

.container{
    padding-top: 50px; 
    /* background-color: var(--element-color); */
    width: 100%;            /* Fill 100% of the container's width */
    font-size: inherit;
}

@media screen and (max-width: 768px) {
    .container{
        padding-top: 0;
    }
}


textarea {
    border: none;
    font-family: inherit;
    background-color: transparent;
    color: var(--background-color);
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* fallback, this is handled in html&js for sliders */
    font-size: inherit;

    line-height: 50%;

    /* cut bottom overspace */
    vertical-align: top;
    caret-color: var(--background-color); /* Blinking caret */

    width: 90%;
    resize: none;           /* Disable corner resize functionality */
    /* white-space: normal;    /* Allow text to break into lines */
    white-space: pre-wrap; /* Preserve spaces and new lines */
    overflow-wrap: break-word; /* Break words if they are too long */
    word-wrap: break-word;  /* Ensure word-breaking works in all browsers */
    box-sizing: border-box; /* Include padding and borders in the element's width */

    overflow-y: hidden;     /* Prevent overflow with scrollbar */
    height: auto;           /* Allow the height to be adjusted automatically */
}

@media screen and (max-width: 768px) {
    textarea{
        margin-top: 10%;
    }
}

textarea#text_byBlock{
    /* fallback, this is handled in html&js for sliders */
    font-size: 0.2em;
    
    line-height: 95%;
    height: 3em;
    /* width: 70%; */
    font-variation-settings: "vrot" var(--vrot-letter-tester-text);
}

/* TODO unite class?? */
#text_byLetter{
    display: flex;
    align-items: flex-start;
    border: none;
    font-family: inherit;
    background-color: transparent;
    color: var(--background-color);
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: inherit;
    /* line-height: 50%; */
    /* TODO cut bottom */
    vertical-align: top;
    caret-color: var(--background-color); /* Blinking caret */
    font-variation-settings: "vrot" var(--vrot-letter-tester-title);



    /* width: 90%;             */
    resize: none;           /* Disable corner resize functionality */
    /* white-space: normal;    /* Allow text to break into lines */
    white-space: pre-wrap; /* Preserve spaces and new lines */
    overflow-wrap: break-word; /* Break words if they are too long */
    word-wrap: break-word;  /* Ensure word-breaking works in all browsers */
    box-sizing: border-box; /* Include padding and borders in the element's width */

    overflow-y: hidden;     /* Prevent overflow with scrollbar */
    height: auto;           /* Allow the height to be adjusted automatically */

    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    #text_byLetter{
        font-size: 2em;

        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
        display: block;
        line-height: 90%;
    }
    textarea#text_byBlock {
        font-size: 0.5em;
        height: 9em;
        /* TODO fix height */
        /* height: 100%; */
        line-height: 1.1em;
        overflow: auto;
    }
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 90%;
    margin-left: 10%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: var(--slider-gray);
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    height: 1px;
    cursor: pointer;
    background: var(--slider-gray);
    border-radius: 9px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    font-size: 0.06em;
    /* padding-left: 10%; */
}

@media screen and (max-width: 768px) {
    .controls{
        font-size: 0.15em;
        width: 90%;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 12vh;
    }

    .slider-container:hover .slider-label {
        opacity: 0;
    }    
    .slider-container .slider-label {
        opacity: 0;
    }

    #fontVrotLabel_byLetter{
        opacity: 0;
    }

    #fontSizeLabel_byLetter{
        opacity: 0;
    }

    #fontVrotLabel_byBlock{
        opacity: 0;
    }

    #fontSizeLabel_byBlock{
        opacity: 0;
    }

    input[type=range]::-webkit-slider-thumb {
        width:  18px;
        height: 18px;
        margin-top: -9px;
    }

    .controls p{
        font-size: 1.7em;
        line-height: 1em;
        margin-bottom: 0;
    }

    .slider-title{
        font-size: 1.5em;
        width: 50px;

    }   
}

.slider-container {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    /* note: The .slider-container is set to position: relative to position the label absolutely within it. */
    position: relative;
    /* width: 100%;  */
    /* background-color: pink; */
}

.slider-label {
    /* margin-right: 10px; */
    font-family: inherit;
    position: absolute;
    top: -35px; /* Adjust as needed */
    /* left: 50%; */
    transform: translateX(15%);
    /* transform: translateX(-100%); */
    padding: 2px 5px;
    border: 1px solid var(--slider-gray);
    /* background-color: transparent; */
    /* background-color: greenyellow; */
    color: var(--slider-gray);

    white-space: nowrap;
    opacity: 0;
}

.slider-container:hover .slider-label {
    opacity: 1;
}

.slider-title{
    margin-left: 10px;
    color: var(--slider-gray);
    font-weight: 400;
    /* font-size: 16px; */

}

.controls p{
    white-space: nowrap;
    color: var(--gradient-blue);
}

/* Styles for selectable letters */
.letter {
    font-family: inherit;
    font-variation-settings: 'vrot' var(--vrot-letter-tester);
    display: inline-block; /* Inline so letters are treated individually */
    cursor: pointer; /* Indicate the letter is clickable */
}

.selected-letter {
    color: var(--gradient-blue);
}

