html, body {
    /* height: 100%; */
    /* overflow-y: auto; */
}

#research-page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* TEST */
    /* height: 100vh; */ 
    /* height: 80%;  */
    height: 76%; 

    /* not using top padding here, it's already not using the entire 100% height */
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
    /* background-color: rgb(196, 20, 20); */
}

@media screen and (max-width: 768px) {
    #research-page{
        /* height: 100%; */
        justify-content: flex-start;
    }
    
}

/* P1 */

#title_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* note: this effects the spacing of glyphs. to control them independently, they need a separate container */
    /* height: 30%; */
}

#title_spacer{
    /* background-color: rgb(196, 20, 20); */
    width: 10%;
    height: auto;
}

#title{
    display: flex;
    /* background-color: rgb(176, 196, 20); */
    flex-direction: column;
    justify-content: center;
    width: 50%;
}



#title h1{
    width: 100%;
    font-family: TransletterGX;
    font-size: 8em;
    margin: 0;
    height: auto;
    /* margin-bottom: 15%; */
    margin-bottom: 10%;
    margin-right: -0.07em;
    text-align: right;
}

#title p{
    padding-top: 5%;
    width: 85%;
    /* font-size: 0.9em; REMOVED */
}


@media screen and (max-width: 768px) {
    #title{
        width: 100%;
    }
    #title h1{
        font-size: 6em;
    }

    #title_spacer{
        width: 0;
    }

    p{
        width: 100%;
    }

    #title p{
        width: 100%;
        font-size: 0.8em;
    }

    /* #title_wrapper{ */
        /* height: auto; */
    /* } */

    /* Force a new line after the first button */
    /* #glyph_selector button:nth-of-type(1) {
        flex-basis: 100%; 
    } */
}


#glyph_selector{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    /* font-size: 3vh; */
    font-size: 150%;
    /* font-variation-settings: "vrot" 500; */
    font-size: 2em;
    font-weight: bold;
    height: 80%;
    width: 80%;
}

#glyph_selector button{
    font-family: inherit;
    background-color: var(--background-color);
    color: var(--element-color);
    font-size: inherit;
    border: none;
    border-radius:100%;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    margin: 0;
}

#glyph_selector button:hover{
    background-color: var(--footer-gray);
}

#glyph_selector button:focus{
    background-color: var(--element-color);
    color: var(--background-color);
}

#glyph_selector button.selected{
    background-color: var(--element-color);
    color: var(--background-color);
}

#glyph_space{
    /* background-color: rgb(20, 196, 187); */
    /* height: 8%; */
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
    font-size: 3.5em;
}

#divider {
    content: '';
    height: 1px;
    background-color: var(--slider-gray);
    /* flex-grow: 1; */
    width:100%;
    display: block;
    border: none;
  }

#handwritten_glyph_space{
    /* height: 9%; */
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: flex-start;
}

#handwritten_glyph_space img {
    width: 3.7em;
    padding: 10%;
    height: auto;
}

#handwritten_glyph_space img:hover {
    /* best approx to var(--gradient-blue) */
    filter: brightness(0) invert(1) sepia(1) saturate(1000%) hue-rotate(97deg);
    /* transition saturation rather than hue. */
    transition: saturate .3s ease .15s;
}

@media screen and (max-width: 768px) {

    #glyph_selector{
        width: 100%;
        flex-wrap: wrap;
    }

    #glyph_selector button{
        width: 1.5em;
        height: 1.5em;
    }

    #glyph_space{
        width: 100%;
        font-size: 1.4em;
    }

    #divider {
        border: 0.1px solid var(--slider-gray);

    }

    #handwritten_glyph_space{
        width: 100%;
        font-size: 1em;
        flex-wrap: wrap;
    }

    #handwritten_glyph_space img {
        /* width: 1.7em; */
        /* width: 1.7em; */
        padding: 2%;
    }

    div.handwritten-text-image-container{
        width: 20%;
        flex-wrap: wrap;
    }

    .handwritten-text-label{
        max-height: 110px;
    }
    
    #button_title{
        width: 100%;
        padding-bottom: 5%;
    }

}

.handwritten-text-image-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    /* margin: 0 10px; */
    /* margin-right: 1%; */
    /* margin-top: 3%; */
}
/* TODO think of align-items here...  */

/* TODO in narrow maybe 1 container for text? */
.handwritten-text-label {
    font-size: 0.6em;
    margin-top: 5px;
    margin-right: 15%;
    transition : opacity 0.3s ease; 
    text-wrap: wrap;
}

/* P2 new&simplified */

#content_wrapper {
    width: 100%; 
    /* height: 15%; */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
}

#content_wrapper b{
    width: 100%; 
    font-size: 2em;
}

#content_wrapper p{
    width: 100%; 
    column-count: 2; /* Automatically splits text into 2 columns */
    column-gap: 5%; /* Space between the columns */
    column-fill: balance; /* Balance the content evenly between the two columns */
    /* future define max width for column */
    /* font-size: 0.9em; REMOVED */
    /* padding-bottom: 5%; */
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    #content_wrapper{
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    #content_wrapper p{
        column-count: 1;
        font-size: 0.8em;
    }

    #content_wrapper b {
        font-size: 1.5em;
    }
}


/* P2 - names not indicative, future rename */
/* original, currently unused */

/* Container setup */
#research-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* note use this to allow dynamic growing of the cols to keep just 2 */
    /* min-height: 20vh;  */
    /* Allows height to grow with content */
    /* height: auto; */
    /* Optional: Prevents it from exceeding the viewport */
    /* max-height: 100vh;  */
    /* Prevents horizontal scrolling */
    /* overflow-x: hidden;  */

    /* note: use this to keep the text in the same height, might expand to 3 cols to the left */
    /* height: 30vh; */
    height: 15%;
    /* allow scroll only of the text, not entire container */
    overflow-x: hidden;
}

/* First Section: Text Selector */
#text-selector {
    flex: 1; /* 1/3 of the container width */
}

#text-selector ul {
    list-style-type: none;
    margin-block: 0;
    padding: 0;
}

#text-selector li {
    padding: 3% 0;
    /* font-size: 2vh; */
    font-size: inherit;
    position: relative;
    transition: color 0.3s, text-decoration 0.3s ease-in-out;
    text-decoration: none; /* Ensure no underline by default */
}

#text-selector li:hover {
    color: var(--element-color); /* Change text color on hover */
    text-decoration: underline; /* Apply underline on hover */
    text-decoration-color: var(--element-color); /* Optional: customize underline color */
    text-decoration-thickness: 1px; /* Optional: control underline thickness */
}

#text-selector li.selected {
    color: var(--element-color); /* Change text color on hover */
    text-decoration: underline; /* Apply underline on hover */
    text-decoration-color: var(--element-color); /* Optional: customize underline color */
    text-decoration-thickness: 1px; /* Optional: control underline thickness */
}

/* Second Section: Text Display with Automatic 2 Columns */
#text-display {
    flex: 2; /* Takes up 2/3 of the container */
    /* font-size: 2vh; */
    font-size: inherit;
    /* line-height: 1.5; */
    column-count: 2; /* Automatically splits text into 2 columns */
    column-gap: 5%; /* Space between the columns */
    column-fill: balance; /* Balance the content evenly between the two columns */
    /* Ensures content height stays within the section */
    /* note use this to allow dynamic growing of the cols to keep just 2 */
    /* max-height: 100%;  */
    /* note: use this to keep the text in the same height, might expand to 3 cols to the left */
    /* height:auto; */
    overflow-x: auto;
    /* overflow-x: scroll; */
    

    -webkit-overflow-scrolling: touch;
}

#text-display::-webkit-scrollbar{
    display: auto;
}

/* Ensure no extra columns are created */
#text-display::before, #text-display::after {
    content: none; /* Prevents any additional columns */
}

/* end section - original, currently unused */

#image-gallery {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: flex-start;
    overflow-x: scroll; /* Allow horizontal scroll */
    overflow-y: hidden; /* Prevent vertical scroll */
    scroll-behavior: smooth; /* Smooth scrolling effect */
    /* padding: 5%; */
    width: 100%; /* Full width of the container */

    /* note use this to allow dynamic growing of the images */
    /* height: auto; */
    /* max-height: 50vh; */

    /* note: use this to keep the images of different sections always in the same height */
    /* height: 40vh; */
    /* height: 20%; */

    /* new&simplified */
    /* height: 70%; */
    /* max-height: 30vh; */

    /* new&simplified */
    height: 19%;
    max-height: 30vh;

    margin-bottom: 1%;
    margin-top: 2%;
}

#image-gallery::-webkit-scrollbar {
    /* Hide scrollbar for WebKit browsers */
    display: none; 
}

#image-gallery img {
    height: 100%; /* Adjust image height as needed */
    margin-right: 1%; /* Space between images */
    margin-left: 1%; /* Space between images */
    object-fit: cover; /* Ensure the image covers the container */
    /* note use this to allow dynamic growing of the images */
    max-height: 30vh;
}

@media screen and (max-width: 768px) {
    #image-gallery{
        height: 19%;
        max-height: 13vh;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #image-gallery img {
        height: 100%;
        max-height: 13vh;
    }
}

/* .horizontal-scroll-section { */
    /* display: flex;
    overflow-x: auto; /* Enable horizontal scrolling 
    scroll-behavior: smooth; /* Smooth scrolling 
    white-space: nowrap; /* Prevent line breaks 
    /* width: 100vw; */
/* } */