
html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;  */
    align-items: center;
}

.screensaver {
    font-family: TransletterGX;

    /* font-size = (desired font size / screen height) * 100vh */
    font-size: calc(1200 / 1920 * 100vh) ;
    overflow: hidden;

    pointer-events: none;
    transition: all .3s;

    width: calc(100vh * (9 / 16));
    
}

.screensaver .wrapper {
    height: 100vh; /* Set height to the full viewport height */
    width: calc(100vh * (9 / 16)); /* Calculate width based on 9:16 aspect ratio */
    margin: 0 auto; /* Center horizontally */
    background-color: black; /* Optional: for visualization */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.screensaver .otDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    opacity: 0;
    height: 90vh;
    
    /* Enable 'left' property to work */
    position: relative; 


    /* note animation in js for sync */
    /* animation: fontColor 8s linear; */
    /* -webkit-animation: otAnim 8s ease-in-out infinite, fontColor 8s ease-in-out infinite;
    animation: otAnim 8s ease-in-out infinite, fontColor 8s ease-in-out infinite; */
    /* run once - use this: */
    /* -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; */
}



.screensaver.active {
    opacity: 1;
    z-index: 100000
}

@-webkit-keyframes otAnim {
    0% {
        font-variation-settings: "vrot" 100;
        opacity: 0;
        left: -20%
    }

    3% {
        font-variation-settings: "vrot" 100;
        opacity: 1;
        left: 0
    }

    5% {
        font-variation-settings: "vrot" 100
    }

    8% {
        font-variation-settings: "vrot" 200
    }

    10% {
        font-variation-settings: "vrot" 200
    }

    16% {
        font-variation-settings: "vrot" 300
    }

    18% {
        font-variation-settings: "vrot" 300
    }

    24% {
        font-variation-settings: "vrot" 400
    }

    26% {
        font-variation-settings: "vrot" 400
    }

    32% {
        font-variation-settings: "vrot" 500
    }

    34% {
        font-variation-settings: "vrot" 500
    }

    40% {
        font-variation-settings: "vrot" 600
    }

    42% {
        font-variation-settings: "vrot" 600
    }

    45% {
        font-variation-settings: "vrot" 700
    }

    52% {
        font-variation-settings: "vrot" 700
    }

    58% {
        font-variation-settings: "vrot" 600
    }

    60% {
        font-variation-settings: "vrot" 600
    }

    66% {
        font-variation-settings: "vrot" 500
    }

    68% {
        font-variation-settings: "vrot" 500
    }

    74% {
        font-variation-settings: "vrot" 400
    }

    76% {
        font-variation-settings: "vrot" 400
    }

    82% {
        font-variation-settings: "vrot" 300
    }

    84% {
        font-variation-settings: "vrot" 300
    }

    90% {
        font-variation-settings: "vrot" 200
    }

    92% {
        font-variation-settings: "vrot" 200
    }

    95% {
        font-variation-settings: "vrot" 100
    }

    97% {
        font-variation-settings: "vrot" 100;
        opacity: 1;
        left: 0
    }

    to {
        font-variation-settings: "vrot" 100;
        opacity: 0;
        left: 20%
    }
}

@keyframes otAnim {
    0% {
        font-variation-settings: "vrot" 100;
        opacity: 0;
        left: -20%
    }

    3% {
        font-variation-settings: "vrot" 100;
        opacity: 1;
        left: 0
    }

    5% {
        font-variation-settings: "vrot" 100
    }

    8% {
        font-variation-settings: "vrot" 200
    }

    10% {
        font-variation-settings: "vrot" 200
    }

    16% {
        font-variation-settings: "vrot" 300
    }

    18% {
        font-variation-settings: "vrot" 300
    }

    24% {
        font-variation-settings: "vrot" 400
    }

    26% {
        font-variation-settings: "vrot" 400
    }

    32% {
        font-variation-settings: "vrot" 500
    }

    34% {
        font-variation-settings: "vrot" 500
    }

    40% {
        font-variation-settings: "vrot" 600
    }

    42% {
        font-variation-settings: "vrot" 600
    }

    45% {
        font-variation-settings: "vrot" 700
    }

    52% {
        font-variation-settings: "vrot" 700
    }

    58% {
        font-variation-settings: "vrot" 600
    }

    60% {
        font-variation-settings: "vrot" 600
    }

    66% {
        font-variation-settings: "vrot" 500
    }

    68% {
        font-variation-settings: "vrot" 500
    }

    74% {
        font-variation-settings: "vrot" 400
    }

    76% {
        font-variation-settings: "vrot" 400
    }

    82% {
        font-variation-settings: "vrot" 300
    }

    84% {
        font-variation-settings: "vrot" 300
    }

    90% {
        font-variation-settings: "vrot" 200
    }

    92% {
        font-variation-settings: "vrot" 200
    }

    95% {
        font-variation-settings: "vrot" 100
    }

    97% {
        font-variation-settings: "vrot" 100;
        opacity: 1;
        left: 0
    }

    to {
        font-variation-settings: "vrot" 100;
        opacity: 0;
        left: 20%
    }
}

@-webkit-keyframes fontColor {
    0% {
        color: var(--gradient-blue);
    }

    45% {
        color: white;
    }

    52% {
        color: white;
    }

    to {
        color: var(--gradient-blue);
    }
}

@keyframes fontColor {
    0% {
        color: var(--gradient-blue);
    }

    45% {
        color: white;
    }

    52% {
        color: white;
    }

    to {
        color: var(--gradient-blue);
    }
}

#logoPara{
    width: calc(100vh * (9 / 16));
    display:flex;
    font-size: calc(50 / 1920 * 100vh) ;
    align-items: flex-end;
    /* background-color: red; */
}

#logoPara nobr{
    font-family: TransletterGX;
    font-variation-settings: 'vrot' 50;
    user-select: none;
    vertical-align: text-bottom;
    color: white;
    background-color: black;
    margin-right: 20%;
}

#logoPara nobr span{
    animation: charAnim-1 var(--logoAnimationSpeed) linear infinite;
    animation-delay: -2500ms;
}
#logoPara nobr span:nth-of-type(2){
    animation-name: charAnim-2;
    animation-delay: -2000ms;
}
#logoPara nobr span:nth-of-type(3){
    animation-name: charAnim-3;
    animation-delay: -1500ms;
}
#logoPara nobr span:nth-of-type(4){
    animation-name: charAnim-4;
    animation-delay: -1000ms;
}
#logoPara nobr span:nth-of-type(5){
    animation-name: charAnim-5;
    animation-delay: -500ms;
}
#logoPara nobr span:nth-of-type(6){
    animation-name: charAnim-6;
    animation-delay: 0ms;
}

@keyframes charAnim-1 {
    0%{font-variation-settings:     'vrot' 100;}
    45%{font-variation-settings:    'vrot' 700;}
    55%{font-variation-settings:    'vrot' 700;}
    90%{font-variation-settings:    'vrot' 100;}
    100%{font-variation-settings:   'vrot' 100;}
}
@keyframes charAnim-2 {
    0%{font-variation-settings:     'vrot' 200;}
    45%{font-variation-settings:    'vrot' 700;}
    55%{font-variation-settings:    'vrot' 700;}
    90%{font-variation-settings:    'vrot' 200;}
    100%{font-variation-settings:   'vrot' 200;}
}
@keyframes charAnim-3 {
    0%{font-variation-settings: 'vrot' 300;  }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 300; }
    100%{font-variation-settings: 'vrot' 300;}
}
@keyframes charAnim-4 {
    0%{font-variation-settings: 'vrot' 400; }
    45%{font-variation-settings: 'vrot' 700;}
    55%{font-variation-settings: 'vrot' 700;}
    90%{font-variation-settings: 'vrot' 400;}
    100%{font-variation-settings: 'vrot' 400;}
}
@keyframes charAnim-5 {
    0%{font-variation-settings: 'vrot' 500; }
    45%{font-variation-settings: 'vrot' 700;}
    55%{font-variation-settings: 'vrot' 700;}
    90%{font-variation-settings: 'vrot' 500;}
    100%{font-variation-settings:'vrot' 500;}
}
@keyframes charAnim-6 {
    0%{font-variation-settings: 'vrot' 600;  }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 600; }
    100%{font-variation-settings: 'vrot' 600;}
}

@keyframes charAnim-1 {
    0%{font-variation-settings:     'vrot' 100;}
    45%{font-variation-settings:    'vrot' 700;}
    55%{font-variation-settings:    'vrot' 700;}
    90%{font-variation-settings:    'vrot' 100;}
    100%{font-variation-settings:   'vrot' 100;}
}
@keyframes charAnim-2 {
    0%{font-variation-settings:     'vrot' 200;}
    45%{font-variation-settings:    'vrot' 700;}
    55%{font-variation-settings:    'vrot' 700;}
    90%{font-variation-settings:    'vrot' 200;}
    100%{font-variation-settings:   'vrot' 200;}
}
@keyframes charAnim-3 {
    0%{font-variation-settings:  'vrot' 300; }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 300; }
    100%{font-variation-settings: 'vrot' 300;}
}
@keyframes charAnim-4 {
    0%{font-variation-settings:  'vrot' 400; }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 400; }
    100%{font-variation-settings:'vrot' 400;}
}
@keyframes charAnim-5 {
    0%{font-variation-settings: 'vrot' 500; }
    45%{font-variation-settings: 'vrot' 700;}
    55%{font-variation-settings: 'vrot' 700;}
    90%{font-variation-settings: 'vrot' 500;}
    100%{font-variation-settings:'vrot' 500;}
}
@keyframes charAnim-6 {
    0%{font-variation-settings: 'vrot' 600;  }
    45%{font-variation-settings: 'vrot' 700; }
    55%{font-variation-settings: 'vrot' 700; }
    90%{font-variation-settings: 'vrot' 600; }
    100%{font-variation-settings: 'vrot' 600;}
}