html,body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#scroll-section-wrapper{
    /* inset: 0; */
    /* background-color: rgb(200, 200, 73); */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: rgb(0, 0, 0); */
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
    /* remove scroll bar:
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    /* scrollbar-width: none;  /* Firefox */
    font-size: var(--title-font-size); 
    
/* } */

/* remove */
/* #wrapper::-webkit-scrollbar {  */
    /* remove scroll bar: */
    /* display: none;  Safari and Chrome */
} 

#scrollPara{
    /* height: 100%; */
    /* height: 80%; */
    /* background-color: rgb(200, 73, 73); */
    /* width: 80%; */
    /* width: 100%; */
    margin: 0;
    font-size: 0.2em;
    font-family: TransletterGX;
    /* line-height: 120%; */
    font-variation-settings: "vrot" var(--vrot);
    /* bxackground-color: black; */
    color: white;
}

p{
    width: 70%;
}

@media screen and (max-width: 768px) {
    #scrollPara {
        font-size: 0.4em;
    }
    p{
        width: 100%;
    }
}

/* #scrollPara nobr{
    font-variation-settings: "vrot" var(--vrot);
} */



/* @media (max-width:1100px) {
    #scrollPara{
        padding-top: 10%;
        padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding);
        /* font-size: 4.25vw; 
    }
} */