:root {
    /* GLOBAL VARIABLES */
    --logoAnimationSpeed: 10000ms;
    --vrot: 100;
    --min_vrot: 100;
    --max_vrot: 700;
    /* --gradient-blue: #3232be; */
    --gradient-blue: rgb(117,252,253);
    --gradient-dark: rgb(50,115,142);
    --gradient-black: #000;
    --element-color: #000;
    --caret-color: #000;
    --background-color: #ffffff;
    --footer-gray: rgb(240,240,240);
    --slider-gray: rgb(148, 148, 148);
    --page-side-padding: 12.5%;
    --iframe-inner-top-bottom-padding: 5%;
    --title-font-size: 20vw;
}

/* TODO unify wrapper div/class */


@font-face {
    font-family: TransletterGX;
    src: url('../assets/font/Transletter_v7VF.ttf')
    /* min 100, max 700 */
}

html,body {
    font-family: TransletterGX;
    font-feature-settings: "kern" on, "liga" on, "calt" on;
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -o-font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-variation-settings: "vrot" 100;
    outline: none !important;
    padding: 0;
    margin: 0;
    direction: rtl;
    font-size: 16px;
    /* cursor: none; */
    scroll-behavior: smooth;
}

/* remove scroll bar */
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
}

.animated-logo iframe{
    /* height: 70vh; */
    z-index: 1;
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
}

.evolution-animated {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
}

.evolution-animated iframe{
    /* height: 70vh; */
    z-index: 1;
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
}

.tester_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--element-color);
    width: 100%;

    /* height: 98vh; */
    height: 100%;
}


#tester-iframe{
    padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding);
    padding-top: 10%;
    /* padding-right: var(--page-side-padding); */
    /* padding-left: var(--page-side-padding); */
}

.scroll_section_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
    background-color: var(--element-color);
    /* background-color: chocolate; */
    /* remove scroll bar: */
    /* -ms-overflow-style: none;  Internet Explorer 10+ 
    scrollbar-width: none;  /* Firefox */
}

.scroll_section_wrapper iframe{
    /* height: 70vh; */
    /* z-index: 1; */
    /* note - to allow scroll from section top - move to padding inside html rather than iframe */
    padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding);
    /* padding-right: var(--page-side-padding); */
    /* padding-left: var(--page-side-padding); */
}

/* remove */
/* .scroll_section_wrapper::-webkit-scrollbar {  
    /* remove scroll bar: */
    /* display: none;  /* Safari and Chrome 
}  */

.waterfall{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-gray);
    color: var(--element-color);
    /* height: 98vh; */
    width: 100%;
}

.horizontal_screensaver_tech{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    height: 98vh;
    /* TODO */
    width: 100%;
    /* remove scroll bar: */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.horizontal_screensaver_tech::-webkit-scrollbar { 
    /* remove scroll bar: */
    display: none;  /* Safari and Chrome */
}


.footer_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-gray);
    /* background-color: pink; */
    color: var(--element-color);
    height: 50vh; /*placeholder value to later inject height by script*/
    /* TODO fix placeholder */
    width: 100%;

}

.footer_page iframe{
    /* TODO solve the bg of above section */
    background-color: var(--footer-gray);
}

/* #letter-range_page{
    TODO
    height: 3px; /*placeholder value to later inject height by script
} */


.research{
    background-color: var(--background-color);
    /*placeholder value to later inject height by script TODO?*/
    /* height: 50vh; */
    width: 100%; 
}



/* .cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    /* INVERTED COLOR 
    mix-blend-mode: difference;
    transition: transform .2s;
  } */


/* NAV */

header{
    width: 100%;
    /* make fixed to the top */
    position: fixed;
    top: 0;
    /* make on top of content */
    z-index: 100;
    mix-blend-mode: difference; /* Invert the colors based on the background , luminosity is also nice */
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration:none;
    justify-content: space-between;
    padding-right: 5%;
}

.gradient-text {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

.gradient-text-bottom {
    background: linear-gradient(to top, var(--gradient-blue), var(--gradient-dark));
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

.nav-title:hover{
    font-variation-settings: "vrot" 500;
    /* hover in */
    transition: all .8s;
}
  
.nav-title{
     font-size: 35px;
     font-variation-settings: "vrot" 700;
     /* hover out */
     transition: all .8s;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

nav li {
    transition: all .8s;
    text-decoration:none;
    list-style: none;
}

nav li.active,
nav li:hover {
    color: var(--gradient-blue);
    font-variation-settings: "vrot" 700;
    /* hover in */
    transition: all .8s;
}
 
nav a {
    text-decoration:none;
    color: var(--gradient-dark);
}