:root {
    /* GLOBAL VARIABLES */
    --logoAnimationSpeed: 10000ms;
    --vrot: 100;
    --min_vrot: 100;
    --max_vrot: 700;
    /* --gradient-blue: #3232be; */
    --gradient-blue: rgb(117,252,253);
    --gradient-dark: rgb(50,115,142);
    --gradient-black: #000;
    --element-color: #000;
    --caret-color: #000;
    --background-color: #ffffff;
    --footer-gray: rgb(240,240,240);
    --slider-gray: rgb(148, 148, 148);
    --page-side-padding: 12.5%;
    --iframe-inner-top-bottom-padding: 5%;
    --title-font-size: 20vw;
}

iframe{
    height: 98vh;
    border: none;
    width: 100%;   
}

@media screen and (max-width: 768px) {
    iframe{
        height: 65vh;
    }
}

/* TODO unify wrapper div/class */


@font-face {
    font-family: TransletterGX;
    src: url('../assets/font/Transletter_v7VF.ttf')
    /* min 100, max 700 */
}

html,body {
    font-family: TransletterGX;
    font-feature-settings: "kern" on, "liga" on, "calt" on;
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -o-font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-variation-settings: "vrot" var(--vrot);
    outline: none !important;
    padding: 0;
    margin: 0;
    direction: rtl;
    /* cursor: none; */
    scroll-behavior: smooth;
}

/* remove scroll bar */
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;

    /* new: sticky */
    position: sticky;
    top: 0px;
    z-index: -100;
}

.animated-logo iframe{
    z-index: 1;
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
}

.evolution-animated {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
    background-color: var(--footer-gray);
}

.evolution-animated iframe{
    /* height: 70vh; */
    z-index: 1;
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
}

.tester_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--element-color);
    width: 100%;

    /* height: 98vh; */
    /* height: 100%; */
    /* background-color: pink; */
}

section .tester_wrapper{
    /* padding-bottom: var(--iframe-inner-top-bottom-padding); */
    background-color: blue;
}


#tester-iframe{
    /* padding: var(--iframe-inner-top-bottom-padding) var(--page-side-padding); */
    padding-right: var(--page-side-padding);
    padding-left: var(--page-side-padding);
}

.scroll_section_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 70vh; */
    height: 98vh;
    background-color: var(--element-color);
    /* background-color: chocolate; */
    /* remove scroll bar: */
    /* -ms-overflow-style: none;  Internet Explorer 10+ 
    scrollbar-width: none;  /* Firefox */
    border: none;
}

@media screen and (max-width: 768px) {
    .scroll_section_wrapper{
        height: 65vh;
    }
}

.waterfall{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-gray);
    color: var(--element-color);
    /* height: 98vh; */
    width: 100%;
}

.waterfall iframe{
    height: 0px;
}

#waterfall-toggle-section{
    padding-top: var(--iframe-inner-top-bottom-padding);
    padding-bottom: var(--iframe-inner-top-bottom-padding);
    /* padding-right: calc(var(--page-side-padding)*2); */
    background-color: var(--element-color);
    width: 100%;
}

#waterfall-toggle-section button{
    font-family: inherit;
    font-size: 1.2em;
    padding: 2px 5px;
    border: 1px solid var(--slider-gray);
    color: var(--slider-gray);
    background-color: transparent;
    white-space: nowrap;
    margin-right: var(--page-side-padding);
}

#waterfall-toggle-section button:hover{
    background-color: rgb(148, 148, 148, 0.6);
    /* var(--slider-gray) with opacity; */
}

@media screen and (max-width: 768px) {
    #waterfall-toggle-section button{
        font-size: 0.8em;
    }
}


.footer_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-gray);
    /* background-color: pink; */
    color: var(--element-color);
    height: 50vh; /*placeholder value to later inject height by script*/
    /* TODO fix placeholder */
    width: 100%;

}

.footer_page iframe{
    /* TODO solve the bg of above section */
    background-color: var(--footer-gray);
}

.research{
    width: 100%; 
    background-color: var(--background-color);
}

/* NOTE: this is where to extend height on research, not anywhere else. o.w. scrolling */
.research iframe{
    height: 200vh;
}



/* Technology TODO cleanup */

.horizontal_screensaver_tech{
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    height: 98vh;
    font-size: var(--title-font-size);
    /* TODO */
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */

    /* remove scroll bar: Internet Explorer 10+ & Firefox*/
    /* -ms-overflow-style: none;   */
    /* scrollbar-width: none;   */
}

.horizontal_screensaver_tech:hover {
    cursor: url('../assets/technology_cursor.svg') 25 25, auto;
}

/* .horizontal_screensaver_tech::-webkit-scrollbar {  */
    /* remove scroll bar Safari and Chrome*/
    /* display: none;   */
/* } */
  
.screensaver_wrapper {
    display: flex;
    /* justify-content: center; */
    height: 100%;
    flex: 1 0 40%;
    /* width: 100%; */
    /* padding: 0 5%; */
}
  
  .screensaver_wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .technology_title {
    flex: 0 0 57%; /* Prevent title from shrinking */
    font-size: 0.1em;
    display: flex;
    align-items: center; /* Center title vertically */
    padding: 0 1%;
    font-size: 0.3em;
    font-weight: 900;
    justify-content: center;
    transition: all 0.5s ease;
    font-variation-settings: "vrot" 100;
  }

.technology_title:hover {
    /* cursor: url('../assets/technology_cursor.svg') 25 25, auto; */
    font-variation-settings: "vrot" 700;
    transition: all 0.5s ease;    
}


  .technology_text_flex_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 98vh;
    background-color: chocolate;
    align-items: center;
    flex-direction: column;
  }
  
  .technology_text {
    padding: 0 5%;
    font-size: 0.06em;
    /* flex: 2; */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* column-count: 2; */
    /* column-gap: 20px; */

    /* minimum width suggestion */
    /* column-width: 300px; */
    /* column-width: 60rem; */

    /* column-count: 2; Automatically splits text into 2 columns */
    column-gap: 5%; 
    /* Balance the content evenly between the two columns */
    column-fill: balance; 
    /* background: aqua; */

    /* Ensure text area matches section height */
    /* height: 50%;  */
    /* height: 70vh;  */
    /* TODO vertical align */
    /* overflow-y: auto; Enable vertical scrolling for text columns if needed */
    /* width: 100%; */
    /* overflow-x: auto; */
    /* overflow: hidden; */
    /* overflow-y: auto; */
    flex: 1 0 70%;
    column-count: 2;

    /* display: inline-block; */
  /* vertical-align: middle; */

  }
  
  .technology_image {
    padding: 0 5%;
    /* flex: 0 0 auto; Prevent image from shrinking */
    flex: 1 1 50%;
    display: flex;
    align-items: center; /* Align image vertically */
    font-size: 0.1em;
    /* max-height: 70%;  */
    /* max-height: 70%;  */
    height: 50%; 
  }
  
  .technology_image img {
     /* Match image height to section height */
    height: 100%;
    /* Cover the available space without distortion */
    object-fit: cover; 
    flex: 1 1 50%;
  }






/* .cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    /* INVERTED COLOR 
    mix-blend-mode: difference;
    transition: transform .2s;
  } */


/* NAV */

header{
    width: 100%;
    /* make fixed to the top */
    position: fixed;
    top: 0;
    /* make on top of content */
    z-index: 100;
    background-color: var(--background-color);
    /* Invert the colors based on the background , luminosity is also nice */
    /* mix-blend-mode: difference; */
    /* appear & disappear on scroll */
    transition: transform 0.3s ease-in-out;
}

header.hidden{
    /* Move the nav out of view */
    transform: translateY(-100%); 
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration:none;
    justify-content: flex-start;
    padding-right: 5%;
}

.gradient-text {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-black));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

/* note: dealt with in js */
/* .nav-title:hover{ */
    /* font-variation-settings: 'vrot' 500; */
    /* hover in */
    /* transition: all .8s; */
/* } */
  
.nav-title{
     font-size: 35px;
     /* note: dealt with in js */
     /* font-variation-settings: "vrot" 700; */
     /* hover out */
     /* transition: all .8s; */
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    /* duplicate but looks more like request */
    padding-right: 10%;
}

nav li {
    transition: all .8s;
    text-decoration:none;
    list-style: none;
}

nav li.active,
nav li:hover {
    color: var(--gradient-black);
    font-variation-settings: "vrot" 700;
    /* hover in */
    transition: all .8s;
}
 
nav a {
    text-decoration:none;
    color: var(--gradient-black);
}


@media screen and (max-width: 768px) {
    html,body{
        /* margin: 5%; */
        margin: 0%;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .home-page-wrapper{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header{
        display: block;
    }
    nav {
        display: block; /* Show dropdown-style navigation */
        text-align: center;
        padding-right: 5%;
        padding-left: 5%;

    }

    .nav-title{
        padding-bottom: 0;
    }


    nav a{
        padding: 2%;
        font-size: 0.6em;
    }

    nav ul{
        padding: 0;
        width: 100%;
        justify-content: space-around;
        margin: 0;
    }
}
