
.w-slide img {
    width: 100%
}

.w-container {
    max-width: 1090px;
    width: 1090px;
    margin: auto;
    position: relative
}

/* @media (min-width:1700px) {
    .w-container {
        max-width: 1220px;
        width: 1220px
    }
} */

/* @media (max-width:1100px) {
    .w-container {
        max-width: 728px
    }
} */

.container-3 .paragraph {
    font-variation-settings: "vrot" 700;
    font-size: 32px
}

.container-3 .paragraph-12 {
    font-variation-settings: "vrot" 700
}

.inactive-tab {
    border-bottom: 1px solid var(--gradient-blue);
    transition: all .2s
}

.inactive-tab:hover {
    color: var(--background-color);
}

.inactive-tab.w--current {
    font-variation-settings: "vrot" 700;
    border-color: var(--background-color);
}

.inactive-tab.w--current div {
    font-variation-settings: "vrot" 700;
    transition: all .2s
}

.paragraph-4 span:nth-of-type(2) {
    font-variation-settings: "vrot" 300
}

.paragraph-4 span:nth-of-type(3) {
    font-variation-settings: "vrot" 500
}

.paragraph-4 span:nth-of-type(4),
.paragraph-6,
.paragraph-28 span {
    font-variation-settings: "vrot" 700
}

.heading-4 {
    font-variation-settings: "vrot" 500
}

.text-block-6 {
    color: inherit
}

.text-block-6:active,
.text-block-15:active,
.text-block-16:active {
    text-decoration: none
}

.section-3 .w-row {
    display: flex
}

.div-block {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto
}

.image-5 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    -o-object-position: right;
    object-position: right
}


@media (min-width:2700px) {
    .about-page .paragraph-6 {
        font-size: 32px
    }
}

@media (min-width:1700px) {
    .about-page .paragraph-4 {
        margin-left: 400px
    }
}

@media (min-width:2700px) {
    .about-page .paragraph-4 {
        margin-left: 791px
    }
}
