/* future parametrize all this */

#wrapper{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logoPara{
    font-size: 20vw;
    transform: translateY(-6vh);
}
#logoPara nobr{
    font-family: TransletterGX;
    font-variation-settings: 'vrot' 50;
    user-select: none;
}
#logoPara nobr span{
    animation: charAnim-1 var(--logoAnimationSpeed) linear infinite;
    animation-delay: -2500ms;
}
#logoPara nobr span:nth-of-type(2){
    animation-name: charAnim-2;
    animation-delay: -2000ms;
}
#logoPara nobr span:nth-of-type(3){
    animation-name: charAnim-3;
    animation-delay: -1500ms;
}
#logoPara nobr span:nth-of-type(4){
    animation-name: charAnim-4;
    animation-delay: -1000ms;
}
#logoPara nobr span:nth-of-type(5){
    animation-name: charAnim-5;
    animation-delay: -500ms;
}
#logoPara nobr span:nth-of-type(6){
    animation-name: charAnim-6;
    animation-delay: 0ms;
}

@keyframes charAnim-1 {
    0%{font-variation-settings: 'vrot' 100; color: #3232be;}
    45%{font-variation-settings: 'vrot' 700; color: #000;}
    55%{font-variation-settings: 'vrot' 700; color: #000;}
    90%{font-variation-settings: 'vrot' 100; color: #3232be;}
    100%{font-variation-settings: 'vrot' 100; color: #3232be;}
}
@keyframes charAnim-2 {
    0%{font-variation-settings: 'vrot' 200; color: #3232be;}
    45%{font-variation-settings: 'vrot' 700; color: #000;}
    55%{font-variation-settings: 'vrot' 700; color: #000;}
    90%{font-variation-settings: 'vrot' 200; color: #3232be;}
    100%{font-variation-settings: 'vrot' 200; color: #3232be;}
}
@keyframes charAnim-3 {
    0%{font-variation-settings: 'vrot' 300; color: #3232be;}
    45%{font-variation-settings: 'vrot' 700; color: #000;}
    55%{font-variation-settings: 'vrot' 700; color: #000;}
    90%{font-variation-settings: 'vrot' 300; color: #3232be;}
    100%{font-variation-settings: 'vrot' 300; color: #3232be;}
}
@keyframes charAnim-4 {
    0%{font-variation-settings: 'vrot' 400; color: #3232be;}
    45%{font-variation-settings: 'vrot' 700; color: #000;}
    55%{font-variation-settings: 'vrot' 700; color: #000;}
    90%{font-variation-settings: 'vrot' 400; color: #3232be;}
    100%{font-variation-settings: 'vrot' 400; color: #3232be;}
}
@keyframes charAnim-5 {
    0%{font-variation-settings: 'vrot' 500; color: #3232be;}
    45%{font-variation-settings: 'vrot' 700; color: #000;}
    55%{font-variation-settings: 'vrot' 700; color: #000;}
    90%{font-variation-settings: 'vrot' 500; color: #3232be;}
    100%{font-variation-settings: 'vrot' 500; color: #3232be;}
}
@keyframes charAnim-6 {
    0%{font-variation-settings: 'vrot' 600; color: #3232be;}
    45%{font-variation-settings: 'vrot' 700; color: #000;}
    55%{font-variation-settings: 'vrot' 700; color: #000;}
    90%{font-variation-settings: 'vrot' 600; color: #3232be;}
    100%{font-variation-settings: 'vrot' 600; color: #3232be;}
}


/* iframe{
    width: calc(100vw - 32px);
    height: 98vh;
    border: none;
}

:root{
    --vrot: 50;
}
#scrollPara{
    padding: 12.5% 25%;
    font-size: 2.5vw;
    font-family: TransletterGX;
    line-height: 125%;
    font-variation-settings: "vrot" var(--vrot);
}
#scrollPara nobr{
    font-variation-settings: "vrot" var(--vrot);
}
@media (max-width:1100px) {
    #scrollPara{
        padding: 12.5% 12.5%;
        font-size: 3.25vw;
    }
} */