
.free-page-wrapper .title {
    position: relative;
    height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.free-page-wrapper .main-title {
    font-size: 15.5vw;
    margin-right: 0;
    display: flex;
    justify-content: center;
    line-height: 1;
    height: 393px;
    align-items: flex-end;
    position: relative;
    margin-top: auto;
    letter-spacing: 10px;
    transition: all .3s
}

.free-page-wrapper .main-title .letter-wrapper {
    position: relative
}

.free-page-wrapper .main-title .letter-wrapper:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2%;
    background: #000;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 3px;
    top: 108%;
    transition: all .3s
}

.free-page-wrapper .main-title .letter-wrapper.selected:after {
    width: 50%
}

.free-page-wrapper .letter-outer-wrapper {
    position: relative
}

.free-page-wrapper .letter-outer-wrapper .free {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%
}

.free-page-wrapper .letter-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.free-page-wrapper .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    opacity: 0;
    transition: all .5s;
    pointer-events: none
}

@media (min-width:1700px) {
    .free-page-wrapper .controls {
        margin-top: auto
    }
}

.free-page-wrapper .controls .input-wrapper {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start
}

@media (min-width:2700px) {
    .free-page-wrapper .controls .input-wrapper {
        justify-content: flex-end;
        margin-left: 50px
    }
}

.free-page-wrapper .controls .input-wrapper .inner-wrapper {
    position: relative;
    margin-right: 20px
}

.free-page-wrapper .controls .input-wrapper input.free-input {
    background: #ece4a3;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px
}

@media (min-width:2700px) {
    .free-page-wrapper .controls .input-wrapper input.free-input {
        width: 735px;
        padding: 15px;
        font-size: 40px;
        height: 40px
    }
}

.free-page-wrapper .controls .input-wrapper .free-btn {
    position: absolute;
    cursor: pointer;
    background: #3232be;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background-position: 50%;
    background-image: url(../gui_images/go.svg);
    background-repeat: no-repeat
}

@media (min-width:2700px) {
    .free-page-wrapper .controls .input-wrapper .free-btn {
        width: 40px;
        font-size: 40px;
        height: 40px;
        top: 50%;
        /* transform: translateY(-50%); */
        left: 15px
    }
}

.free-page-wrapper .controls p {
    color: #3232be;
    margin-left: 20px
}

@media (min-width:2700px) {
    .free-page-wrapper .controls p {
        font-size: 40px
    }
}

.free-page-wrapper .controls .input-box {
    margin-left: 20px
}

.free-page-wrapper .controls .slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%
}

@media (min-width:2700px) {
    .free-page-wrapper .controls .slider-wrapper {
        justify-content: flex-start;
        margin-right: 50px
    }
}

.free-page-wrapper .controls .range-tooltip {
    cursor: text
}

@media (min-width:2700px) {
    .free-page-wrapper .controls .range-tooltip {
        font-size: 28px;
        width: 65px;
        height: 48px
    }
}

.free-page-wrapper .controls .error-msg {
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all .2s
}

.free-page-wrapper .controls .error-msg p {
    font-size: 14px;
    color: red;
    top: 100%
}

@media (min-width:2700px) {
    .free-page-wrapper .controls .error-msg p {
        font-size: 28px
    }
}

.free-page-wrapper .controls .error-msg.active {
    opacity: 1
}

.free-page-wrapper .controls.active {
    opacity: 1;
    pointer-events: all
}

.free-page-wrapper .show-btn-wrapper {
    font-size: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all .5s
}

@media (min-width:2700px) {
    .free-page-wrapper .show-btn-wrapper {
        font-size: 42px
    }
}

.free-page-wrapper .show-btn-wrapper .en {
    margin-top: 15px;
    font-weight: 600
}

.free-page-wrapper .show-btn {
    color: #fff;
    background: #3232be;
    width: 240px;
    height: 100px;
    margin: auto;
    font-weight: 500;
    font-size: 28px;
    transition: all .5s;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: right;
    line-height: 1;
    padding: 5px 20px 13px 30px
}

@media (min-width:2700px) {
    .free-page-wrapper .show-btn {
        font-size: 72px;
        width: 560px;
        height: 250px;
        padding-right: 50px
    }
}

.free-page-wrapper .show-btn:after {
    content: "";
    position: absolute;
    background-image: url(../gui_images/go-big.svg);
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 20px;
    top: 50%;
    /* transform: translateY(-50%) */
}

@media (min-width:2700px) {
    .free-page-wrapper .show-btn:after {
        width: 50px;
        height: 50px;
        left: 50px
    }
}

.free-page-wrapper .show-btn-wrapper.active {
    opacity: 1;
    pointer-events: all
}

.free-page-wrapper .show-btn-wrapper:hover .show-btn {
    font-variation-settings: "vrot" 700
}

.free-page-wrapper .round-slider .rs-handle:after {
    width: 75px;
    border-width: 12px;
    top: -6px
}

@media (min-width:2700px) {
    .free-page-wrapper .round-slider .rs-handle:after {
        width: 150px;
        border-width: 24px;
        top: -12px
    }
}

.free-page-wrapper .round-slider .rs-path-color,
.free-page-wrapper .round-slider .rs-range-color {
    background-color: #ece4a3
}

.free-page-wrapper .round-slider .rs-handle:before {
    height: 24px;
    width: 24px;
    right: -12px;
    bottom: -12px
}

@media (min-width:2700px) {
    .free-page-wrapper .round-slider .rs-handle:before {
        height: 48px;
        width: 48px;
        right: -24px;
        bottom: -24px
    }
}

.free-page-wrapper .changing-letter {
    height: 200px
}

.underline {
    position: absolute;
    height: 8px;
    background: #000;
    width: 50px;
    transition: all .3s;
    transform: translateX(-50%)
}

.letters .selected {
    -webkit-animation: change-from-black .3s;
    animation: change-from-black .3s
}

.letters .selected.active {
    color: #000
}

.free .selected.active {
    color: #3232be
}

@-webkit-keyframes change-from-black {
    0% {
        color: #000
    }

    50% {
        color: #3232be
    }

    to {
        color: #000
    }
}

@keyframes change-from-black {
    0% {
        color: #000
    }

    50% {
        color: #3232be
    }

    to {
        color: #000
    }
}

@-webkit-keyframes change-from-blue {
    0% {
        color: #3232be
    }

    50% {
        color: #000
    }

    to {
        color: #3232be
    }
}

@keyframes change-from-blue {
    0% {
        color: #3232be
    }

    50% {
        color: #000
    }

    to {
        color: #3232be
    }
}

@-webkit-keyframes change-from-red {
    0% {
        color: #d2232a
    }

    50% {
        color: #3232be
    }

    to {
        color: #d2232a
    }
}

@keyframes change-from-red {
    0% {
        color: #d2232a
    }

    50% {
        color: #3232be
    }

    to {
        color: #d2232a
    }
}

@-webkit-keyframes change-from-yellow {
    0% {
        color: #ffd800
    }

    50% {
        color: #3232be
    }

    to {
        color: #ffd800
    }
}

@keyframes change-from-yellow {
    0% {
        color: #ffd800
    }

    50% {
        color: #3232be
    }

    to {
        color: #ffd800
    }
}

@-webkit-keyframes flicker {

    0%,
    to {
        background-color: transparent
    }

    50% {
        background-color: #000
    }
}

@keyframes flicker {

    0%,
    to {
        background-color: transparent
    }

    50% {
        background-color: #000
    }
}