
/* .letters-page {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--element-color);
    color: rgb(222, 250, 10);
    height: 98vh;
    width: 100%;
} */

.letters-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 1%;

    color: rgb(222, 250, 10);
}

/* .letters-page .main-title {
    width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center
} */

/* .letters-page .sep-text {
    text-align: center;
    margin: 0 0 80px;
    letter-spacing: 1px
}

.letters-page .subtitle {
    font-weight: 500;
    margin: 10px 0;
    font-size: 90px;
    letter-spacing: 6px;
    padding: 20px 0
}

@media (min-width:1700px) {
    .letters-page .subtitle {
        font-size: 105px
    }
}

.letters-page .small-subtitle {
    font-size: 30px;
    letter-spacing: 3.5px
}

@media (min-width:1700px) {
    .letters-page .small-subtitle {
        font-size: 35px
    }
} */

.letters-page .round-slider {
    margin-bottom: 2px
}

/* .letters-page .input-box {
    position: relative
} */

.input-box{
    display: flex;
    flex-direction: column;
}

.letters-page .range-tooltip {
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s
}

.letters-page .input-box:hover .range-tooltip {
    opacity: 1
}
/* 
.container.letter {
    overflow: visible
}

section.by-letter .row {
    height: auto;
    align-items: center
}

section.by-letter .text-row {
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

section.by-letter .text-row .changing-letter {
    color: #3232be
}

section.by-letter .text-row p {
    font-size: 12vw;
    line-height: 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between
}

section.by-letter .letter-row {
    height: 80px;
    margin: 50px 0 85px
}

@media (min-width:1700px) {
    section.by-letter .letter-row {
        height: 90px
    }
}

section.by-letter .letter-row .input-box:after {
    content: "";
    position: absolute;
    right: 16px;
    top: 67%;
    height: 80%;
    width: 2px;
    /* transform: translateY(-50%); 
    background: #000;
    -webkit-animation: flicker 1s step-end infinite;
    animation: flicker 1s step-end infinite;
    opacity: 0
}

section.by-letter .letter-row .input-box input {
    color: #000;
    font-size: 95px;
    margin-top: 0;
    margin-bottom: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

@media (min-width:1700px) {
    section.by-letter .letter-row .input-box input {
        font-size: 110px
    }
}

section.by-letter .letter-row .input-box input:focus {
    outline: none
}

section.by-letter .letter-row .text-row .fixed-letters {
    margin-top: -10px;
    font-size: 95px;
    width: calc(100% + 10px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: table;
    margin-right: -5px
}

@media (min-width:1700px) {
    section.by-letter .letter-row .text-row .fixed-letters {
        font-size: 110px
    }
}

section.by-letter .letter-row .text-row .fixed-letters .letter-wrapper {
    display: table-cell;
    text-align: center;
    padding-bottom: 20px;
    cursor: default
} */
/* 
.changing-letter {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 83%;
    text-align: center;
    overflow: visible;
    outline-offset: -85px;
    outline: 1px solid #000;
    border: 0;
    margin-top: -42px;
    width: 1.1ch
}

.wght-change-letter .letter-wrapper {
    font-size: 170px;
    margin-top: -54px
}

@media (min-width:1700px) {
    .wght-change-letter .letter-wrapper {
        font-size: 192px
    }
}

.wght-change-letter .letter-wrapper:hover {
    color: #000
}

.wght-change-letter .letter-wrapper:first-of-type {
    font-variation-settings: "vrot" 400
}

.wght-change-letter .letter-wrapper:nth-of-type(2) {
    font-variation-settings: "vrot" 100
}

.wght-change-letter .letter-wrapper:nth-of-type(3) {
    font-variation-settings: "vrot" 700
}

.wght-change-letter .letter-wrapper:nth-of-type(4),
.wght-change-letter .letter-wrapper:nth-of-type(5),
.wght-change-letter .letter-wrapper:nth-of-type(6) {
    font-variation-settings: "vrot" 200
}

.wght-change-letter .letter-wrapper:nth-of-type(7) {
    font-variation-settings: "vrot" 300
}

.wght-change-letter .letter-wrapper:nth-of-type(8) {
    font-variation-settings: "vrot" 600
}

.wght-change-letter .letter-wrapper:nth-of-type(9) {
    font-variation-settings: "vrot" 400
}

.wght-change-letter .letter-wrapper:nth-of-type(10) {
    font-variation-settings: "vrot" 100
}

.wght-change-letter .letter-wrapper:nth-of-type(11) {
    font-variation-settings: "vrot" 700
}

.wght-change-letter .letter-wrapper:nth-of-type(12) {
    font-variation-settings: "vrot" 200
}

.wght-change-letter .letter-wrapper:nth-of-type(13) {
    font-variation-settings: "vrot" 500
}

.letter-wrapper {
    transition: all .3s
}

.letter-wrapper:hover {
    color: #3232be
} */
/* 
.by-row h2.tiny {
    text-align: right;
    border-bottom: 1px solid #000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 0 7px;
    letter-spacing: 0;
    margin-right: 13%
}

.by-row h2.tiny:after {
    content: "-";
    text-decoration: none;
    position: absolute
}

.by-row>.row {
    position: relative
} */

/* .by-row .inputs-wrapper { */
.inputs-wrapper {
    /* height: 500px; */
    /* width: 10%; */
    display: flex;
    /* background-color: transparent; */
    /* border-radius: 5px; */
    justify-content: space-around;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    /* top: 0; */
    /* margin-top: 52px */
}

.inputs-wrapper .input-box {
    height: auto;
    width: 100%
}

.inputs-wrapper .input-box .row-input {
    text-align: center
}

/* .inputs-wrapper .colors {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: space-between
}

.inputs-wrapper .colors .color {
    background: #d2232a;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer
}

.inputs-wrapper .colors .color.blue,
.inputs-wrapper .colors .color.dark-blue {
    background: #3232be
}

.inputs-wrapper .colors .color.yellow {
    background: #ffd800
}

.inputs-wrapper .colors .color.black {
    background: #000
} */

.text-rows .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}

.text-rows {
    width: 100%;
}

.text-row {
    /* height: auto;
    padding: 0; */
    width: 100%;
}

.row-input{
    width: 80%;
}
/* 
.text-row .row-input[data-color=blue] {
    color: #3232be
}

.by-row .text-row .row-input[data-color=red] {
    color: #d2232a
}

.by-row .text-row .row-input[data-color=yellow] {
    color: #ffd800
}

.by-row .text-row .row-input[data-color=black] {
    color: #000
} */

.by-row .text-row:first-of-type .row-input {
    font-size: 187px;
    font-variation-settings: "vrot" 250
}

@media (min-width:1700px) {
    .by-row .text-row:first-of-type .row-input {
        font-size: 210px
    }
}

.by-row .text-row:nth-of-type(2) .row-input {
    font-size: 97px;
    font-variation-settings: "vrot" 400;
    line-height: .5;
    letter-spacing: 1px
}

@media (min-width:1700px) {
    .by-row .text-row:nth-of-type(2) .row-input {
        font-size: 110px
    }
}

.by-row .text-row:nth-of-type(3) .row-input {
    font-size: 27px;
    font-variation-settings: "vrot" 500;
    line-height: 1.7;
    letter-spacing: .5px;
    margin-bottom: 10px
}

@media (min-width:1700px) {
    .by-row .text-row:nth-of-type(3) .row-input {
        font-size: 30px
    }
}

.by-row .text-row:nth-of-type(4) .row-input {
    font-size: 16px;
    font-variation-settings: "vrot" 100;
    line-height: 1.5
}

@media (min-width:1700px) {
    .by-row .text-row:nth-of-type(4) .row-input {
        font-size: 18px
    }
}

.by-row .text-row:nth-of-type(5) .row-input {
    font-size: 28px;
    font-variation-settings: "vrot" 700;
    line-height: 1.1;
    margin: 15px 0 12px
}

@media (min-width:1700px) {
    .by-row .text-row:nth-of-type(5) .row-input {
        font-size: 32px
    }
}

.by-row .text-row:nth-of-type(6) .row-input {
    font-size: 16px;
    font-variation-settings: "vrot" 700;
    line-height: 2
}

@media (min-width:1700px) {
    .by-row .text-row:nth-of-type(6) .row-input {
        font-size: 17px
    }
}

input[type=range] {
    -webkit-appearance: none;
    /* width: 100px; */
    background: transparent;
    margin: 0 0 10px
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #3232be;
    margin-top: -3px
}

input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #ece4a3;
    border-radius: 9px
}