/* FIX THIS */
/* iframe {

    height: 70vh;

} */

#wrapper{
    /* position: absolute; */
    inset: 0;
    /* TODO fix */
    height: 150vh;
    /* height: 100%; */
    width: 100%;
    /* background-color: rgb(200, 73, 73); */
    background-color: rgb(0, 0, 0);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}

#wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#scrollPara{
    /* position: absolute; */
    /* padding: 12.5% 25%; */
    margin: 0;
    padding-top: 10%;
    /* font-size: 2.5vw; */
    font-family: TransletterGX;
    line-height: 125%;
    font-variation-settings: "vrot" var(--vrot);
    background-color: black;
    color: white;
    height: 50vh;
    
}

#scrollPara nobr{
    font-variation-settings: "vrot" var(--vrot);
}
@media (max-width:1100px) {
    #scrollPara{
        padding-top: 10%;
        padding: 12.5% 12.5%;
        font-size: 3.25vw;
    }
}