.section {
  background-color: #fff9bd;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 100px auto 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  font-size: 58px;
  line-height: 61px;
  font-weight: 400;
  text-align: right;
}

.paragraph {
  width: auto;
  margin-bottom: 60px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  font-size: 32px;
  line-height: 43px;
  text-align: right;
}

.slider {
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.tab-link-tab-1 {
  background-color: #3232bd;
  direction: rtl;
}

.tab-link-tab-1.w--current {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #3232be;
}

.tab-link-tab-1.inactive-tab.w--current {
  color: #fff;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  background-color: #3232be;
}

.icon {
  background-color: #fff;
  color: hsla(0, 0%, 52.5%, 0.58);
}

.icon-2 {
  border-radius: 0px;
  color: hsla(0, 0%, 52.5%, 0.58);
}

.text-block {
  font-family: Evolution07gx, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
}

.tabs {
  top: 25px;
  bottom: 25px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-2 {
  width: auto;
  margin-top: 39px;
  margin-bottom: 60px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 61px;
  font-weight: 400;
  text-align: right;
}

.container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph-2 {
  margin-bottom: 23px;
  padding-left: 20px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
}

.icon-3 {
  color: #cacaca;
}

.icon-4 {
  color: #cacaca;
}

.paragraph-3 {
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}

.tabs-content {
  position: relative;
  margin-bottom: 0px;
}

.text-block-2 {
  font-family: Evolution07gx, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
}

.text-block-3 {
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
}

.text-block-4 {
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
}

.text-block-5 {
  background-color: transparent;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.text-block-5.inactive-tab {
  color: rgba(0, 0, 0, 0.5);
}

.tab-link-tab-4 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #3232bd;
}

.tab-link-tab-4.w--current {
  background-color: #3232bd;
}

.tab-link-tab-3 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #3232bd;
}

.tab-link-tab-3.w--current {
  background-color: #3232bd;
}

.tab-link-tab-2 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #3232bd;
}

.tab-link-tab-2.w--current {
  background-color: #3232bd;
}

.tab-link-tab-5 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #3232bd;
  color: #fff;
}

.tab-link-tab-5.w--current {
  background-color: #3232bd;
  opacity: 1;
  font-family: Evolution07gx, sans-serif;
  color: #3232bd;
}

.tab-link-tab-5.inactive-tab.w--current {
  color: #fff;
}

.tabs-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #3232bd;
  color: #000;
}

.columns {
  margin-bottom: 15px;
}

.tab-pane-tab-1 {
  margin-bottom: 34px;
}

.section-3 {
  background-color: #fff9bd;
}

.heading-3 {
  margin-top: 60px;
  margin-bottom: 40px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #3232be;
  font-weight: 400;
  text-align: right;
}

.paragraph-4 {
  position: static;
  margin-bottom: 70px;
  margin-left: 200px;
  padding-left: 0px;
  float: none;
  clear: none;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
}

.column {
  padding-right: 40px;
  padding-left: 0px;
}

.section-4 {
  background-color: #000;
}

.paragraph-5 {
  margin-top: 43px;
  margin-bottom: 34px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
}

.paragraph-6 {
  margin-bottom: 60px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.section-5 {
  background-color: #fff9be;
}

.text-block-6 {
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.text-block-6:hover {
  color: #3232bd;
}

.text-block-6:active {
  text-decoration: underline;
}

.tab-link-tab-1-2 {
  background-color: #fff9bd;
}

.tab-link-tab-1-2.w--current {
  background-color: #fff9bd;
}

.tab-link-tab-2-2 {
  background-color: #fff9bd;
}

.tab-link-tab-2-2.w--current {
  background-color: #fff9bd;
}

.text-block-7 {
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #3232bd;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

.text-block-8 {
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #3232bd;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

.tab-link-tab-3-2 {
  background-color: #fff9bd;
}

.tab-link-tab-3-2.w--current {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #fff9bd;
  color: #000;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-4 {
  margin-bottom: 30px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #3232be;
  font-size: 58px;
  line-height: 61px;
  font-weight: 400;
  text-align: right;
}

.section-6 {
  background-color: #fff9bd;
}

.image {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  width: auto;
  max-width: 30%;
  margin: 40px auto 100px 25px;
  padding-left: 16px;
  text-align: right;
}

.paragraph-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 1px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-7 {
  background-color: #fff9bd;
}

.paragraph-8 {
  margin-bottom: 48px;
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
}

.facebook {
  margin-bottom: 108px;
}

.tabs-content-2 {
  margin-bottom: 220px;
}

.paragraph-9 {
  margin-bottom: 0px;
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #3232bd;
  font-size: 20px;
  text-align: right;
  letter-spacing: 1px;
}

.container-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tab-pane-tab-5 {
  width: auto;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
}

.paragraph-10 {
  margin-bottom: 29px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
}

.slider-2 {
  display: inline;
  overflow: scroll;
  width: 556px;
  height: 340px;
  max-width: none;
  float: none;
  clear: none;
}

.image-2 {
  overflow: scroll;
  width: 556px;
  height: 340px;
  max-height: 120%;
  max-width: 120%;
}

.column-3 {
  margin-bottom: 81px;
  padding-right: 0px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.columns-3 {
  margin-right: 0px;
  margin-bottom: 53px;
  margin-left: 0px;
}

.slider-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.slider-4 {
  display: inline-block;
  height: auto;
}

.column-5 {
  margin-bottom: 1px;
  padding-left: 20px;
}

.paragraph-11 {
  margin-bottom: 140px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 23px;
  text-align: right;
}

.paragraph-12 {
  margin-bottom: 100px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  text-align: right;
}

.icon-5 {
  color: hsla(0, 0%, 52.5%, 0.44);
}

.icon-6 {
  color: hsla(0, 0%, 52.5%, 0.44);
}

.column-6 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.grid {
  grid-auto-flow: row;
  grid-column-gap: 50px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: minmax(200px, 1fr) 50px 0.5fr;
  grid-template-columns: minmax(200px, 1fr) 0.5fr;
  -ms-grid-rows: minmax(auto, 1fr);
  grid-template-rows: minmax(auto, 1fr);
}

.paragraph-13 {
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
}

.paragraph-14 {
  margin-bottom: 20px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
}

.paragraph-15 {
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: right;
}

.paragraph-16 {
  margin-top: 58px;
  margin-bottom: 140px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 23px;
  line-height: 28px;
  text-align: right;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.column-7 {
  display: block;
  padding-right: 25px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.slider-5 {
  display: block;
  overflow: visible;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.icon-7 {
  color: hsla(0, 0%, 52.5%, 0.44);
}

.icon-8 {
  color: hsla(0, 0%, 52.5%, 0.44);
}

.column-8 {
  padding-right: 10px;
}

.paragraph-17 {
  display: block;
  margin-bottom: 0px;
  padding-top: 8px;
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #fff;
  text-align: right;
}

.image-3 {
  max-height: none;
  max-width: none;
}

.slider-6 {
  height: auto;
}

.paragraph-18 {
  padding-top: 6px;
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: right;
}

.paragraph-19 {
  margin-top: 0px;
  margin-bottom: 140px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 23px;
  line-height: 28px;
  text-align: right;
}

.columns-5 {
  margin-bottom: 35px;
}

.container-4 {
  margin-bottom: 0px;
}

.paragraph-20 {
  margin-top: 60px;
  margin-bottom: 30px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
}

.tab-pane-tab-4 {
  margin-bottom: 0px;
}

.paragraph-21 {
  margin-bottom: 30px;
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #fff;
  text-align: right;
}

.slider-7 {
  display: inline-block;
  height: auto;
  margin-bottom: 12px;
}

.slide-nav {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-22 {
  margin-bottom: 100px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  text-align: right;
}

.image-4 {
  margin-top: 54px;
}

.slide {
  background-color: #d81414;
}

.mask {
  background-color: #da0707;
}

.column-9 {
  padding-left: 30px;
}

.paragraph-23 {
  margin-bottom: 23px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
}

.paragraph-24 {
  margin-bottom: 38px;
  direction: rtl;
  font-family: Alef, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: right;
}

.paragraph-25 {
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
}

.image-5 {
  display: inline-block;
  max-width: 100%;
}

.paragraph-26 {
  margin-top: 73px;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #3232bd;
  font-size: 23px;
  line-height: 28px;
  text-align: right;
}

.inactive-tab {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 0px;
  border-color: #fff;
  background-color: transparent;
  font-family: Evolution07gx, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
}

.inactive-tab.w--current {
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;
  color: #fff;
}

.tech-tab {
  background-color: transparent;
  font-family: Evolution07gx, sans-serif;
  color: #000;
  font-size: 16px;
}

.tech-tab.w--current {
  background-color: transparent;
  color: #3232be;
}

.text-block-9 {
  color: #3232be;
}

.text-block-10 {
  font-size: 18px;
}

.text-block-11 {
  font-size: 18px;
}

.text-block-12 {
  font-size: 18px;
}

.text-block-13 {
  font-size: 18px;
}

.text-block-14 {
  font-size: 18px;
}

.paragraph-27 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
}

.text-block-15 {
  font-size: 18px;
}

.text-block-15:hover {
  color: #3232bd;
}

.text-block-15:active {
  text-decoration: underline;
}

.text-block-16 {
  font-size: 18px;
}

.text-block-16:hover {
  color: #3232bd;
}

.text-block-16:active {
  text-decoration: underline;
}

.paragraph-28 {
  display: block;
  width: auto;
  margin-bottom: 47px;
  padding: 10px 14px 15px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #000;
  direction: rtl;
  font-family: Evolution07gx, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: right;
  white-space: normal;
}

.div-block {
  margin-bottom: 0px;
  margin-left: 300px;
}

@media (max-width: 991px) {
  .heading-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .columns {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-4 {
    margin-left: 60px;
  }
  .tab-pane-tab-5 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .columns-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .column-3 {
    display: block;
    padding-right: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .column-4 {
    margin-bottom: 30px;
  }
  .columns-3 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .slider-4 {
    display: inline-block;
  }
  .column-5 {
    padding-right: 0px;
  }
  .paragraph-11 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-16 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .columns-4 {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-3 {
    display: inline-block;
    overflow: visible;
    float: none;
  }
  .container-4 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-22 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  .image-5 {
    display: inline-block;
  }
  .text-block-10 {
    text-align: right;
  }
  .text-block-11 {
    text-align: right;
  }
  .text-block-12 {
    text-align: right;
  }
  .text-block-13 {
    text-align: right;
  }
  .text-block-14 {
    text-align: right;
  }
  .div-block {
    display: block;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .column-10 {
    margin-bottom: 20px;
    padding-right: 42px;
    padding-left: 42px;
  }
}

@media (max-width: 767px) {
  .heading {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 32px;
    line-height: 36px;
  }
  .paragraph {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 22px;
    line-height: 26px;
  }
  .section-2 {
    display: block;
  }
  .heading-2 {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 32px;
    line-height: 36px;
  }
  .container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .paragraph-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .tabs-menu {
    display: block;
    padding-right: 20px;
    padding-left: 300px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    direction: rtl;
    text-align: right;
  }
  .columns {
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph-4 {
    margin-left: 60px;
  }
  .paragraph-6 {
    font-size: 22px;
    line-height: 28px;
  }
  .tabs-menu-2 {
    position: relative;
    display: block;
    padding-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    direction: ltr;
    text-align: center;
  }
  .heading-4 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 32px;
    line-height: 36px;
  }
  .container-2 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .paragraph-9 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
  }
  .tab-pane-tab-5 {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
  }
  .columns-2 {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph-10 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .columns-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-5 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .paragraph-11 {
    padding-right: 40px;
    padding-left: 40px;
    line-height: 28px;
  }
  .paragraph-12 {
    padding-right: 40px;
  }
  .paragraph-14 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .paragraph-15 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .paragraph-16 {
    padding-right: 40px;
  }
  .columns-4 {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-7 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-8 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph-17 {
    margin-bottom: 32px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .image-3 {
    display: inline-block;
    max-width: 100%;
  }
  .slider-6 {
    display: inline-block;
  }
  .paragraph-18 {
    padding-right: 40px;
  }
  .paragraph-19 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .columns-5 {
    display: block;
  }
  .paragraph-21 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .paragraph-22 {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 18px;
  }
  .column-9 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .paragraph-23 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph-26 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .column-10 {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-11 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-12 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-13 {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 479px) {
  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    padding-right: 20px;
    padding-left: 17px;
    font-size: 30px;
    line-height: 34px;
  }
  .paragraph {
    padding-right: 20px;
    padding-left: 30px;
    font-size: 20px;
    line-height: 26px;
  }
  .heading-2 {
    padding-right: 20px;
  }
  .container {
    display: block;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .paragraph-2 {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 23px;
  }
  .paragraph-3 {
    padding-right: 20px;
  }
  .tabs-content {
    display: block;
  }
  .tabs-menu {
    padding-right: 0px;
    padding-left: 20px;
  }
  .columns {
    padding-right: 0px;
    padding-left: 0px;
  }
  .heading-3 {
    font-size: 32px;
  }
  .paragraph-4 {
    margin-left: 40px;
  }
  .column {
    padding-right: 20px;
  }
  .paragraph-6 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .text-block-6 {
    text-align: right;
  }
  .tabs-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    direction: ltr;
    text-align: center;
  }
  .heading-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image {
    position: static;
    display: block;
    max-width: 100%;
    margin-right: 20px;
    margin-left: 0px;
  }
  .paragraph-7 {
    display: block;
  }
  .container-2 {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container-3 {
    display: block;
    padding-right: 0px;
  }
  .tab-pane-tab-5 {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .columns-2 {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph-10 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-3 {
    margin-bottom: 37px;
    padding-left: 0px;
  }
  .columns-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-5 {
    padding-right: 20px;
  }
  .paragraph-11 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 23px;
  }
  .paragraph-12 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-14 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-15 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-16 {
    padding-right: 20px;
    font-size: 18px;
    line-height: 23px;
  }
  .columns-4 {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-7 {
    padding-right: 0px;
  }
  .column-8 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph-17 {
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-3 {
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .slider-6 {
    display: inline-block;
  }
  .paragraph-18 {
    padding-right: 20px;
  }
  .paragraph-19 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 23px;
  }
  .columns-5 {
    display: block;
    margin-bottom: 14px;
  }
  .paragraph-21 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-22 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-4 {
    margin-top: 13px;
  }
  .column-9 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-23 {
    padding-right: 0px;
  }
  .paragraph-24 {
    padding-right: 0px;
  }
  .paragraph-25 {
    padding-right: 0px;
  }
  .paragraph-26 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .tech-tab {
    padding-right: 20px;
    padding-left: 20px;
  }
  .tech-tab.w--current {
    padding-right: 20px;
  }
  .text-block-15 {
    text-align: center;
  }
  .text-block-16 {
    display: block;
    text-align: right;
  }
  .column-10 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-6 {
    display: inline-block;
  }
  .column-13 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@font-face {
  font-family: 'Alef';
  src: url('fonts/Alef-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Alef';
  src: url('fonts/Alef-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Evolution07gx';
  src: url('fonts/TransletterGX.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
