:root {
    /* GLOBAL VARIABLES */
    --logoAnimationSpeed: 10000ms;
    --vrot: 100;
    --min_vrot: 100;
    --max_vrot: 700;
}

/* TODO unify wrapper div/class */


@font-face {
    font-family: TransletterGX;
    src: url('../font/Transletter_v7VF.ttf')
    /* min 100, max 700 */
}

/* * { */
html,body {
    font-family: TransletterGX;
    font-feature-settings: "kern" on, "liga" on, "calt" on;
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -o-font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-variation-settings: "vrot" 100;
    outline: none !important;
    padding: 0;
    margin: 0;
    direction: rtl;
}

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .wrapper{
    position: absolute;
    bottom: 2.5vh;
    width: 100%;
    color: #91aedb;
    text-align: center;
    font-size: 3.5vh;
    font-variation-settings: "vrot" 100;

} */

/* temp until iframe */
.animated_evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color for debugging */
    background-color: rgb(21, 49, 121);
    color: rgb(10, 210, 250);
    height: 98vh;
    width: 100%;
}

.tester{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(222, 250, 10);
    height: 98vh;
    width: 100%;
}

.waterfall{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 113, 113);
    color: #000000;
    height: 98vh;
    width: 100%;
}

.horizontal_screensaver_tech{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    height: 98vh;
    width: 100%;
}