:root {
    /* GLOBAL VARIABLES */
    --logoAnimationSpeed: 10000ms;
    --vrot: 100;
    --min_vrot: 100;
    --max_vrot: 700;
    /* --gradient-blue: #3232be; */
    --gradient-blue: rgb(117,252,253);
    --gradient-dark: rgb(50,115,142);
    --gradient-black: #000;
    --element-color: #000;
    --background-color: #ffffff;
    --footer-gray: rgb(240,240,240);

}

/* TODO unify wrapper div/class */


@font-face {
    font-family: TransletterGX;
    src: url('../font/Transletter_v7VF.ttf')
    /* min 100, max 700 */
}

html,body {
    font-family: TransletterGX;
    font-feature-settings: "kern" on, "liga" on, "calt" on;
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -o-font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-variation-settings: "vrot" 100;
    outline: none !important;
    padding: 0;
    margin: 0;
    direction: rtl;
    /* cursor: none; */
}

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .wrapper{
    position: absolute;
    bottom: 2.5vh;
    width: 100%;
    color: #91aedb;
    text-align: center;
    font-size: 3.5vh;
    font-variation-settings: "vrot" 100;

} */

/* temp until iframe */
.animated_evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color for debugging */
    background-color: rgb(21, 49, 121);
    color: rgb(10, 210, 250);
    height: 98vh;
    width: 100%;
}

.tester{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--element-color);
    /* color: rgb(222, 250, 10); */
    width: 100%;
}

.scroll_section_wrapper{
    width: 100%;
    background-color: var(--element-color);
    /* remove scroll bar: */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll_section_wrapper::-webkit-scrollbar {  
    /* remove scroll bar: */
    display: none;  /* Safari and Chrome */
} 

.waterfall{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-gray);
    color: var(--element-color);
    height: 98vh;
    width: 100%;
}

.horizontal_screensaver_tech{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    height: 98vh;
    /* TODO */
    width: 100%;
    /* remove scroll bar: */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.horizontal_screensaver_tech::-webkit-scrollbar { 
    /* remove scroll bar: */
    display: none;  /* Safari and Chrome */
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-gray);
    color: var(--element-color);
    height: 98vh;
    width: 100%;
}


/* .cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    /* INVERTED COLOR 
    mix-blend-mode: difference;
    transition: transform .2s;
  } */