
@media (max-width:1100px) {
    .warning {
        background-color: #fff9be
    }

    .warning nav {
        position: absolute;
        top: 20px;
        right: 6vw
    }

    .warning .image {
        display: block;
        max-width: 50%;
        margin-right: auto;
        margin-bottom: 8px;
        margin-left: auto
    }

    .warning .container {
        margin-top: 150px;
        margin-bottom: 42px;
        padding-top: 0;
        max-width: 100%
    }

    .warning .w-container {
        max-width: 100%
    }

    .warning .paragraph {
        margin-bottom: 6px;
        font-size: 18px
    }

    .warning .paragraph,
    .warning .paragraph-2 {
        font-family: Translettergx, sans-serif;
        text-align: center
    }

    .warning .paragraph-3 {
        text-align: center
    }

    .warning .container-2 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        background-color: transparent
    }

    .warning .section {
        margin-bottom: 23px;
        background-color: #3232bd
    }

    .warning .paragraph-4 {
        margin-top: 30px;
        margin-bottom: 30px;
        direction: rtl;
        font-family: Translettergx, sans-serif;
        color: #fff;
        font-size: 23px;
        line-height: 27px;
        text-align: center
    }

    .warning .navbar {
        background-color: #fff9be
    }

    .warning .paragraph-5 {
        margin-bottom: 30px;
        direction: rtl;
        font-family: Translettergx, sans-serif;
        color: #3232bd;
        text-align: center
    }

    .warning .menu-button.w--open {
        background-color: #fff9be;
        color: #000
    }

    .warning .nav-link,
    .warning .nav-link-2 {
        padding-top: 10px;
        padding-bottom: 10px;
        direction: rtl;
        font-family: Translettergx, sans-serif;
        text-align: right
    }

    .warning .nav-link-2 {
        font-weight: 400
    }

    .warning .nav-link-3 {
        padding-top: 10px;
        padding-bottom: 10px;
        direction: rtl;
        font-family: Translettergx, sans-serif;
        text-align: right
    }

    .warning .nav-menu {
        display: inline-block;
        background-color: rgba(255, 249, 190, .71)
    }
}

@media (max-width:767px) {
    .warning .container {
        margin-bottom: 17px
    }

    .warning .section {
        margin-bottom: 12px
    }

    .warning .paragraph-5 {
        margin-bottom: 30px
    }

    .warning .menu-button.w--open {
        background-color: #fff9be
    }

    .warning .icon {
        color: #000
    }
}

@media (max-width:479px) {
    .warning .container {
        margin-bottom: 20px
    }

    .warning .paragraph {
        font-size: 16px
    }

    .warning .paragraph-2,
    .warning .paragraph-3 {
        font-size: 12px
    }

    .warning .section {
        margin-bottom: 17px
    }

    .warning .paragraph-4 {
        margin-bottom: 33px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px
    }

    .warning .paragraph-5 {
        font-family: Translettergx, sans-serif;
        color: #3232bd;
        font-size: 10px;
        text-align: center
    }

    .warning .menu-button {
        background-color: #fff9bd
    }

    .warning .menu-button.w--open {
        padding-bottom: 10px;
        background-color: #fff9be
    }

    .warning .nav-link,
    .warning .nav-link-2 {
        padding-bottom: 5px
    }

    .warning .nav-link,
    .warning .nav-link-2,
    .warning .nav-link-3 {
        display: block;
        padding-top: 5px;
        background-color: transparent;
        direction: rtl;
        font-family: Translettergx, sans-serif;
        text-align: right
    }

    .warning .nav-link-3 {
        padding-bottom: 20px;
        border: 1px #000;
        color: #000
    }

    .warning .icon {
        color: #000
    }

    .warning .nav-menu {
        border: 1px #000;
        border-radius: 3px
    }
}
